body {
color: black;
background-color: lightblue;
}

table{
  border-collapse: collapse;
}

table, th, td {
  border: 15px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {background-color: #32d623;}
tr:nth-child(odd) {background-color: #d3d623;}
tr:hover {background-color: #888888;}
