body {
    color: black;
    background-color: rgb(132, 235, 230);
    }
    
    table{
      border-collapse: collapse;
    }
    
    table, th, td {
      border: 3px solid black;
      border-collapse: collapse;
    }
    
    th, td {
      padding: 25px;
      text-align: left;
    }
    
    tr:nth-child(even) {background-color: #cabe13;}
    tr:nth-child(odd) {background-color: #139d1a;}
    tr:hover {background-color: #ffffff;}
    